input[type="checkbox"]
	display: none
	+ label
		@apply relative pl-6 flex items-center
		transition: all .3s
		line-height: 1.9em

		&::before
			@apply absolute text-center w-4 h-4 left-0
			content: "\e905"
			color: $blue3
			font-family: 'icomoon'
			font-size: 10px
			line-height: 17px
			background: $blue3
			border-radius: 2px
			top: 5px
			transition: all .3s

	&:checked
		+ label
			&::before
				color: $white
				background: $blue1

.input__wrapper
	@apply mt-6

	label
		@apply font-medium
		font-size: 12px
		line-height: 15px
		margin-bottom: 10px
		color: $blue1

	input
		@apply font-bold block w-full
		font-size: 12px
		line-height: 15px
		color: $black
		padding: 17px 20px 16px 20px
		border: 1px solid $blue3
		border-radius: 4px

form
	h3
		@apply font-bold mt-10
		font-size: 12px
		line-height: 15px
		color: $blue1
