input[type="checkbox"]
	display: none
	+ label
		@apply relative pl-6 flex items-center
		transition: all .3s
		line-height: 1.9em

		&::before
			@apply absolute text-center w-4 h-4 left-0
			content: "\e905"
			color: $blue3
			font-family: 'icomoon'
			font-size: 10px
			line-height: 17px
			background: $blue3
			border-radius: 2px
			top: 5px
			transition: all .3s

	&:checked
		+ label
			&::before
				color: $white
				background: $blue1

.input__wrapper
	@apply mt-6

	&.no-border
		input
			@apply pl-0
			border: 0
			color: $blue4

	label
		@apply font-medium
		font-size: 12px
		line-height: 15px
		margin-bottom: 10px
		color: $blue1

	input
		@apply font-bold block w-full
		font-size: 12px
		line-height: 15px
		color: $black
		padding: 17px 20px 16px 20px
		border: 1px solid $blue3
		border-radius: 4px

	&.select-input
		@apply relative

		&.active
			i
				transform: rotate(180deg)

			ul
				@apply opacity-100
				pointer-events: auto
				transform: translateY(0)

		input[type="checkbox"]
			display: none !important

		i
			@apply absolute right-4
			top: 47px
			font-size: 8px
			transition: all .3s

		ul
			@apply absolute left-0 bg-white w-full opacity-0
			pointer-events: none
			transform: translateY(-15px)
			top: 6rem
			border-radius: 8px
			box-shadow: 0 10px 31px 1px rgba(0,0,0,0.14)
			transition: all .3s

			li
				border-bottom: 1px solid $blue3
				line-height: 1

			label
				@apply block font-bold px-6 py-4 cursor-pointer m-0
				color: $black

				&:hover
					color: $blue1

form
	h3
		@apply font-bold mt-10
		font-size: 12px
		line-height: 15px
		color: $blue1
