.invoices
	&__header
		@apply flex justify-between mb-8

	&__title
		span
			font-size: 12px
			font-weight: 500
			color: $blue4

	&__actions
		@apply flex items-center

		.invo-filter
			@apply relative pr-8 font-bold
			margin-right: 18px

			i
				@apply absolute
				font-size: 8px
				top: 7px
				right: 12px
				transition: all .3s

			&.active

				.invo-filter__options
					@apply opacity-100 pointer-events-auto
					transform: translate(-50%,0)

				i
					transform: rotate(180deg)

			&__options
				@apply p-6 absolute top-8 opacity-0 pointer-events-none
				transform: translate(-50%,-15px)
				left: 50%
				transition: all .3s
				border-radius: 8px
				box-shadow: 0 10px 31px 1px rgba(0,0,0,0.14)

	&__list

		li
			@apply grid md:flex md:justify-between md:items-center grid-cols-2 grid-rows-3 w-full mb-4 px-6 md:px-8 py-6 md:py-4 bg-white
			border-radius: 8px

			i
				font-size: 8px

			span
				font-size: 12px
				line-height: 15px

			.dot
				width: 8px
				height: 8px
				border-radius: 50%
				margin-right: 8px

			.code
				@apply col-start-1 row-start-1 font-bold

			.name
				@apply col-start-2 row-start-1 text-end
				color: $blue4

			.date
				@apply col-start-1 row-start-2
				color: $blue4

			.price
				@apply col-start-1 row-start-3 font-bold
				font-size: 16px
				line-height: 24px
				letter-spacing: -0.8px
				min-width: 70px

			.status
				@apply ml-auto md:ml-0 flex justify-center items-center col-start-2 row-start-2 row-span-2 mt-2 md:mt-0 font-bold
				height: 40px
				border-radius: 4px
				line-height: 1em
				font-size: 12px
				width: 104px

				&.pending
					background: rgba(#FF8F00, 0.06)
					color: #FF8F00
					.dot
						background: #FF8F00

				&.paid
					background: rgba(#33D69F, 0.06)
					color: #33D69F
					.dot
						background: #33D69F

				&.draft
					background: rgba(#373B53, 0.06)
					color: #373B53
					.dot
						background: #373B53