.darkMode
	header
		background: $Dark-Blue
		color: $White

.lightMode
	header
		background: $Very-Light-Gray
		color: $Very-Dark-Blue
		@apply shadow-lg

header
	@apply flex items-center sticky top-0
	z-index: 50
	height: 5rem

.mode-switcher
	@apply cursor-pointer

	span
		@apply flex items-center

		i
			@apply mr-2